.title {
    width: 100%;
    border: 1px solid blue;
    margin-left: -8px;
}

.centered {
    width: 200px;
    border: 1px solid green;
    margin: auto;
    display: block;
}

.body img {
    width: 100px;
    float: right;
    margin: 10px;
}

.help {
    position: fixed;
    bottom: 10px;
    right: 10px
}

.help img {
    width: 30px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
